.root {
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
}
.unfold {
  display: flex;
}
.navs {
  display: flex;
  // width: 300px;
  flex-wrap: wrap;
}
.nav {
  margin: 0 5px;
}
.nav a {
  color: #636060
}
.fold {
  position: absolute;
  top: 0;
  left: 300px;
  width: 600px;
  padding: 10px;
  background: #fff;
  // border: 1px solid gray;
  // border-radius: 4px;
  // border-left: none;
}
.fold-icon {
  cursor: pointer;
}

.type {
  margin-bottom: 10px;
}

