.root {
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
}
.title {
  font-size: 18px;
  font-weight: normal;
  color: #868585
}
.unfold {
  display: flex;
}
.navs {
  display: flex;
}
.nav {
  margin: 0 10px;
}
.nav a {
  color: #868585;
  font-size: 14px;

}
.fold {
  position: absolute;
  top: 0;
  left: 300px;
  width: 600px;
  padding: 10px;
  background: #fff;
  // border: 1px solid gray;
  // border-radius: 4px;
  // border-left: none;
}
.fold-icon {
  cursor: pointer;
  position: absolute;
  right: 60px;
  color: #868585;
}
.subtitle {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
  color: #868585;
}
.type {
  margin-bottom: 20px;
}

