.main {
  width: 1200px;
  margin: 0 auto;
}
.navs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.two {
  display: flex;
  padding: 45px 0;
}
.banner {
  flex: 2;
  // padding-top: 10px;
}

.banner img {
  display: block;
  width: 840px;
  height: 345px;
}
.videos {
  display: flex;
  // align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourMain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
